*.py[c|o]
*.egg
*.egg-info
/build
/dist
/nbproject/
pip-log.txt
/.project
/.pydevproject
/include
/lib
/lib64
/bin
/virtualenv

*.bak
*/build/*

*.class
.version

.*
!.git*
!.travis*

/distribute_setup.py


*.prefs
*.log
node_modules/*
package.json
package-lock.json
tmp/*
Vagrantfile.osx*.rb
Vagrantfile.win*.rb
